<ion-app>
	<ion-split-pane when="lg" contentId="main">
		<ion-menu contentId="main">
			<ion-content class="ion-padding">
				<nav class="m-5">
					<a class="mt-5" routerLink="/info" routerLinkActive="active">Informace</a>
					<a class="mt-5" routerLink="/rsvp" routerLinkActive="active">RSVP</a>
					<a class="mt-5" routerLink="/notifikace" routerLinkActive="active">Notifikace</a>
					@if (isAdmin) {
						<a class="mt-5" routerLink="/admin" routerLinkActive="active">Admin</a>
					}
				</nav>
			</ion-content>
		</ion-menu>

		<div class="ion-page" id="main">
			<ion-content>
				<ion-router-outlet></ion-router-outlet>
			</ion-content>

			<ion-footer class="d-lg-none">
				<ion-tab-bar>
					<ion-tab-button routerLink="/info" routerLinkActive="tab-selected">
						<ion-icon name="calendar-outline"></ion-icon>
						Informace
					</ion-tab-button>
					<ion-tab-button routerLink="/rsvp" routerLinkActive="tab-selected">
						<ion-icon name="checkbox-outline"></ion-icon>
						RSVP
					</ion-tab-button>
					<ion-tab-button routerLink="/notifikace" routerLinkActive="tab-selected">
						<ion-icon name="notifications-outline"></ion-icon>
						Notifikace
					</ion-tab-button>
					@if (isAdmin) {
						<ion-tab-button routerLink="/admin" routerLinkActive="tab-selected">
							<ion-icon name="key-outline"></ion-icon>
							Admin
						</ion-tab-button>
					}
				</ion-tab-bar>
			</ion-footer>
		</div>

		<!-- <div class="row h-100">
		<div class="d-none d-lg-block col-lg-3 col-xl-3 col-xxl-2">
			
		</div>

		<div class="col-lg-9 col-xl-9 col-xxl-10 page h-100">
			<ion-content>
				
			</ion-content>
		</div>
	</div> -->
	</ion-split-pane>
</ion-app>
