@switch (subscriptionsService.status | async) {
	@case ("ready") {
		<p class="mt-3">
			<app-button (click)="subscriptionsService.savePush()">Hrát!</app-button>
		</p>
	}

	@case ("success") {
		<div class="box">
			<h3>Hra je připravena!</h3>
			<p>Počkejte na první úkol!</p>
		</div>

		<div class="test-notification mt-3">
			@switch (testNoficationStatus) {
				@case ("ready") {
					<app-button size="small" (click)="sendTestNotification()">Poslat testovací úkol</app-button>
				}
				@case ("sent") {
					<div class="box"><p>Testovací úkol odeslán</p></div>
				}
				@case ("error") {
					<div class="box"><p>Nastala chyba při odesílání testovacího úkolu</p></div>
				}
			}
		</div>
	}

	@case ("denied") {
		<div class="box">
			<h3>Notifikace jste zakázali</h3>
			<p>Pokud chcete hrát, musíte je zapnout v&nbsp;nastavení prohlížeče.</p>
		</div>
	}

	@case ("inAppBrowser") {
		<div class="box">
			<p>Notifikace nejsou podporovány ve vestavěných prohlížečích jiných aplikací, jako je Facebook nebo Instagram.</p>
			<p>Otevřete si prosím stránku danlandan.smallhill.cz v hlavním prohlížeči (Chrome, Safari atp.).</p>
		</div>
	}

	@case ("working") {
		<p>Nastavuji notifikace...</p>
	}

	@case ("error") {
		<div class="box">
			<p>Nastala chyba při nastavování notifikací, můžete to zkusit později, nebo na&nbsp;jiném zřízení.</p>
		</div>
	}

	@case ("notAvailable") {
		<div class="box">
			<p>Hra bohužel na tomto zařízení nefunguje.</p>
		</div>
	}
}
