<ion-content>
	<main>
		<div class="mx-3">
			<div class="content">
				<h2 class="my-5">Notifikace</h2>
				<div class="ml-5">
					<app-notifications-prompt></app-notifications-prompt>
				</div>

				@if (notifications.length > 0) {
					<h3 class="mt-5 mb-4">Zprávy svatebčanům:</h3>

					@if (isAdmin) {
						<ion-checkbox slot="start" color="secondary" [(ngModel)]="showTestNotifications" labelPlacement="end"
							>Zobrazit testovací notifikace</ion-checkbox
						>
					}

					<div>
						<ion-list>
							@for (notification of notifications; track notification.id) {
								@if (!notification.test || showTestNotifications) {
									<ion-item>
										<ion-label>
											<h2>{{ notification.message }}</h2>
											<p>{{ formatDate(notification.createdAt) }}</p>
										</ion-label>
										@if (notification.test) {
											<ion-badge slot="end" color="secondary">TEST</ion-badge>
										}
										@if (notification.buttonTitle && notification.buttonLink) {
											<ion-button slot="end" [href]="notification.buttonLink" [fill]="'outline'">
												{{ notification.buttonTitle }}
											</ion-button>
										}
									</ion-item>
								}
							}
						</ion-list>
					</div>
				}
			</div>
		</div>
	</main>
</ion-content>
