<ion-content>
	<main>
		<div class="mx-3">
			<div class="content">
				<h2 class="my-5">Svatební hra</h2>

				<div class="box mt-3">
					<p>
						Během svatebního odpoledne na vás budou čekat různorodý úkoly – zapojte se, bavte se a pomozte vytvořit
						jedinečnou atmosféru plnou radosti!
					</p>

					<p>Pro zapnutí klikněte na tlačítko Hrát!</p>
				</div>
				<div class="mt-3">
					<app-notifications-prompt></app-notifications-prompt>
				</div>
				<div class="mt-3 text-center">
					<app-button size="small" routerLink="/history">Historie úkolů</app-button>
				</div>
			</div>
		</div>
	</main>
</ion-content>
