mark {
	background-color: transparent;
	// background-image: linear-gradient(to bottom, transparent 60%, #f7ed3f 40%);
	padding: 0 0.3em;

	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
}
