<ion-content>
	<main>
		<div class="hero">
			<h1>Jana &amp; Martin</h1>
			<div id="photo" class="mt-0 m-3 m-lg-4 mb-4"></div>
			<div class="show-more"><ion-icon name="chevron-down-outline"></ion-icon></div>
		</div>

		<h2 class="mt-5">Save the&nbsp;date!</h2>
		<div class="m-5">
			<div class="content">
				<h3 class="text-center"><app-mark color="#f7ed3f">31.&nbsp;5.&nbsp;2025</app-mark></h3>
				<h3 class="text-center"><app-mark color="#f7ed3f">Praha</app-mark></h3>

				<p class="text-center mt-5">
					<a href="event.ics" target="_blank">Přidat do kalendáře</a>
				</p>
			</div>
		</div>

		<h2 class="my-5 pt-5">Harmonogram</h2>

		<div class="harmonogram m-5">
			<div class="content">
				<h3 class="mt-5 mb-4">Obřad</h3>

				<p>
					Obřad proběhne <app-mark>v kostele Nejsvětějšího Salvátora</app-mark> na Praze 1 u Karlova mostu,
					neda&shy;leko Staro&shy;městského náměstí. Prosíme neplést s kostelem U Sal&shy;vátora v ulici
					Salvá&shy;tor&shy;ská, také nedaleko Staro&shy;městského náměstí.
				</p>
				<p>
					Začátek obřadu je plánován na&nbsp;<app-mark>14<sup>00</sup></app-mark
					>. Budeme mít církevní obřad beze mše, počí&shy;tejte s&nbsp;délkou při&shy;bližně 30&nbsp;minut. Oddávat nás
					bude páter Alan Křišťan.
				</p>
				<p>
					Vzhle&shy;dem k tomu, že se svatba koná v kostele, dopo&shy;ručujeme dress code násle&shy;dovně: pro dámy
					delší šaty tlume&shy;ných barev, pro pány tmavý oblek a polo&shy;botky. Ale vezměte si samozřejmě to, v čem se
					budete cítit dobře.
				</p>
				<p>
					Po obřadu budeme vycházet bočním vchodem kostela do pros&shy;toru mezi Salvá&shy;torem a Klemen&shy;tinem. Zde
					proběhne přípi&shy;tek, svatební koláčky a společná fotografie.
				</p>
				<p>
					Přesun na místo slav&shy;nosti bude samo&shy;statný. Vzhledem k omezené dostup&shy;nosti parkování na obou
					místech doporučujeme metro (Staro&shy;městská—Muzeum—Budějo&shy;vická), nebo taxi z Marián&shy;ského náměstí.
				</p>

				<h3 class="mt-5 my-4">Slavnost</h3>
				<p>
					Oslava našeho vstupu do manžel&shy;ství pro&shy;běhne formou zahradní slav&shy;nosti
					<app-mark>na Habrovce na Praze 4</app-mark> (<a href="https://en.mapy.cz/s/honoregupo" target="_blank">mapa</a
					>), nedaleko stanice metra Budě&shy;jo&shy;vic&shy;ká. Postupný příjezd novo&shy;manželů a svateb&shy;čanů na
					místo očekáváme
					<app-mark>od&nbsp;15<sup>00</sup>.</app-mark>
				</p>
				<p>
					Jedná se o zahradu v reziden&shy;ční zóně a&nbsp;je zde tedy velmi omezená možnost parko&shy;vání (modré
					zóny). Dopo&shy;ru&shy;čujeme využít městské hro&shy;madné dopravy, pří&shy;padně placené parko&shy;viště v
					rámci OC Budějovická.
				</p>
				<p>
					Pro tuto odpo&shy;lední část doporu&shy;čujeme násle&shy;dující dress code: pro dámy letní šaty
					a&nbsp;poho&shy;dlnou obuv (většina zahrady je trávník), pro pány volnější košili a chino kalhoty. Ale vezměte
					si samozřejmě to, v čem se budete cítit dobře.
				</p>

				<p>
					Do areálu prosím nevoďte psy a&nbsp;nepro&shy;vozujte repro&shy;du&shy;ko&shy;vanou hudbu (hra na
					aku&shy;sti&shy;cké ná&shy;stro&shy;je je povo&shy;lena). Zároveň vás pro&shy;síme o&nbsp;prů&shy;běžný úklid,
					co na&nbsp;místě zbyde, budeme muset v neděli ráno ukli&shy;dit, aby zde další týden mohl probě&shy;hnout
					<a href="https://www.habrovka.cz/minulost" target="_blank" class="festivalhabrovka">Festival Habrovka</a>.
				</p>
			</div>
		</div>
		<h2 class="my-5 pt-5">Dary</h2>

		<div class="harmonogram m-5">
			<div class="content">
				<p>
					Rozhodli jsme se svatbu neo&shy;me&shy;zo&shy;vat na nej&shy;bliž&shy;ší přátele, ale pozvat co nejvíce
					kamarádů, oceníme proto jaký&shy;koliv
					<app-mark>finanční příspěvek</app-mark>.
				</p>
				<p>
					Zároveň většina z&nbsp;vás je na svatbu zvána v počet&shy;něj&shy;ších skupin&shy;kách a&nbsp;velmi oceníme,
					když si ve skupince připravíte nějakou <app-mark>aktivitu pro ostatní svateb&shy;čany</app-mark>.
				</p>
				<p>
					Ať už to bude kul&shy;tur&shy;ní program, nebo stánek s&nbsp;limo&shy;ná&shy;dou, dejte nám prosím vědět
					prostřed&shy;nic&shy;tvím násle&shy;du&shy;jí&shy;cího formuláře.
				</p>
				<app-button size="small" href="https://airtable.com/appShvxODFwWugM8a/pagUiAogisXaf4yhG/form" target="_blank">
					Přidat aktivitu
				</app-button>
			</div>
		</div>
		<!-- <iframe
			class="airtable-dary"
			src="https://airtable.com/embed/appShvxODFwWugM8a/shrtR2O76Z6DdV7ph"
			frameborder="0"
			onmousewheel=""
			width="100%"
		></iframe> -->

		<h2 class="my-5 pt-5">Děti</h2>

		<div class="harmonogram m-5">
			<div class="content">
				<p>
					Budeme raději, když budete mít mož&shy;nost se naplno oddat oslavám našeho manžel&shy;ského slibu. Pokud se
					vám však nepo&shy;daří sehnat hlí&shy;dání, vez&shy;měte děti s sebou. Při obřadu pro&shy;síme svateb&shy;čany
					s kočárky, aby je umístili po stra&shy;nách kostela. Svateb&shy;čany s většími dětmi prosíme, aby se během
					obřadu poku&shy;sili zamezit volnému pobí&shy;hání dětí po kostele. Slav&shy;nost bude probí&shy;hat formou
					zahradní party na oplo&shy;cené zahradě s malým písko&shy;vištěm. Speci&shy;ální prog&shy;ram pro děti
					zajištěn nebude.
				</p>
			</div>
		</div>
	</main>
</ion-content>
