.hero {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	background-color: #fff;
	height: 100vh;
	height: 100dvh;
	position: relative;

	.show-more {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 992px) {
	.hero {
		height: calc(100vh - 58px);
		height: calc(100dvh - 58px);
	}
}

h1 {
	padding: 5vh 0;
	text-align: center;
	font-size: min(20vw, 12vh);

	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

#photo {
	border-radius: 20px;
	background-image: url("/mydva_jana.jpg");
	background-size: cover;
	background-position: 0%;

	flex-grow: 1;
}

.content {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.airtable-dary {
	width: 100%;
	height: 50dvh;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.festivalhabrovka {
	text-decoration: none !important;
}

.festivalhabrovka:hover {
	text-decoration: underline !important;
}
