<ion-content>
	<h2 class="my-5">Historie úkolů</h2>

	@if (notifications.length > 0) {
		<div class="box">
			<ion-list>
				@for (notification of notifications; track notification.id) {
					@if (!notification.test || showTestNotifications) {
						<ion-item>
							<ion-label>
								<h6>{{ notification.message }}</h6>
								<p>{{ formatDate(notification.createdAt) }}</p>
								@if (notification.buttonTitle && notification.buttonLink) {
									<p>
										<ion-button [href]="notification.buttonLink" [fill]="'outline'" color="dark">
											{{ notification.buttonTitle }}
										</ion-button>
									</p>
								}
							</ion-label>
						</ion-item>
					}
				}
			</ion-list>
		</div>
	} @else {
		<ion-text class="ion-padding">
			<p>Žádné úkoly zatím nebyly odeslány.</p>
		</ion-text>
	}
</ion-content>
